# IntelliJ
.idea
*.iml

# Byte-compiled / optimized
__pycache__/
*.py[cod]
build/
/venv

# Distribution
/dist
/pypowsybl.egg-info

# Documentation
/docs/_build

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#build
build/*
.idea/*
*.iml
.vscode

*.orig

demo/*.xiidm
demo/*.json
demo/*.mat
demo/*.bz2
demo/*.zip
demo/*.xml
demo/*.arc
demo/*.zst
demo/.ipynb_checkpoints
to_build
demo/Makefile
demo/test_iidm4cpp.cpp
demo/test_iidm4cpp.h
demo/Load a grid from matpower.ipynb

